.container {
    margin-bottom: 40px;
  }
  
  .container p {
    font-size: 1.1rem;
    margin-bottom: 5px;
  }
  
  .main {
    display: flex;
  }
  
  .main div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #304ffe;
    color: #fff;
    margin-left: 30px;
    width: 75px;
    padding: 4px 0;
    border-radius: 5px;
    cursor: pointer;
  }
 